*::before, * ::after{
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vh;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #eef7fa;
}

.group{
    
    height:100%;
    font-size: 200%;
}

a,
h1{

    background-color: #396574;
    text-decoration: underline;
    color: #ffffff;
    padding: 2%;
    width: 100vh;
    margin-top: 0;
}

h2{

    text-align: center;
}


header{
    margin-top: 0;
    background-color:#eef7fa;
    text-align: center;
}

.Mqc{
text-align: center;
}

ul{
    list-style-type: none;  
}
.a,
.b,
.c,
.d{
display: flex;
justify-content: left;
padding: 15px;
}


.a:hover,
.b:hover,
.c:hover,
.d:hover{
    background-color: #143947;
    color: #ffffff;
    cursor: pointer; 
}


/* Start and Next buttons */
button,
#box{
    background-color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid #276d88;
    border-radius: 2%;
    padding: 2px;
    margin:10%
}
.next-btn:hover{
    background-color: #184455;
    color: #ffffff;
    cursor: pointer;  
}
.start-btn:hover{
    background-color: #184455;
    color: #ffffff;
    cursor: pointer;
}

.grid{
    display:grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin: 25px;
    justify-items: start;
}

.coding{
    color:#276d88
}

#timer{
    color:#ff0000;
    font-weight: bolder;
    text-decoration: underline;
}

.hide{
    display: none;
}